.car{
    margin: 0.8rem;
    padding: 5px;
    border-style: solid;
    border-color: black;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 110%;
    margin-bottom: 10px;
}